/* CSS Document */

/**{
margin:0px;
padding:0px;
}*/
img{border:0px}
/*html{
width:100%;
height:100%;
margin:0px;
}
*/
/*
body{
width:100%;
height:100%;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;

margin:0 auto;
position:relative;
}
*/
/*
a:link{color: #5a88ba; text-decoration: underline; 
}
a:active{color: #5a88ba; text-decoration: none;
}
a:visited{color: #5a88ba; text-decoration: none;
}
a:hover {color: #5a88ba; text-decoration: underline;
}
*/
/*
html > body{
min-height:100%;
height:auto;
}
*/

/*
.workflownavigationbar
{
	cursor: pointer;
	background-color: #ffffff;
	vertical-align:middle;
	padding-top:2px;
	padding-right:3px;
	padding-bottom:3px;
	border:1px solid #91b0cf;
	margin-top:2px;
	height:30px;
	border-top-right-radius:0.5em;
	-moz-border-radius-topright:0.5em;
	-webkit-border-top-right-radius:0.5em;

	border-top-left-radius:0.5em;
	-moz-border-radius-topleft:0.5em;
	-webkit-border-top-left-radius:0.5em;
	border-bottom-left-radius:0.5em;
	-moz-border-radius-bottomleft:0.5em;
	-webkit-border-bottom-left-radius:0.5em;
	border-bottom-right-radius:0.5em;
	-moz-border-radius-bottomright:0.5em;
	-webkit-border-bottom-right-radius:0.51em;
	font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;
}
*/


.workflownavigationbar
{
	cursor: pointer;
/*	background-color: #dceffd;*/
	background-color: #ffffff;
	vertical-align:middle;
	padding-top:2px;
	padding-right:3px;
	padding-bottom:3px;
	border:1px solid #91b0cf;
	margin-top:2px;
	height:30px;
	border-top-right-radius:0.5em;
	-moz-border-radius-topright:0.5em;
	-webkit-border-top-right-radius:0.5em;

	border-top-left-radius:0.5em;
	-moz-border-radius-topleft:0.5em;
	-webkit-border-top-left-radius:0.5em;
	border-bottom-left-radius:0.5em;
	-moz-border-radius-bottomleft:0.5em;
	-webkit-border-bottom-left-radius:0.5em;
	border-bottom-right-radius:0.5em;
	-moz-border-radius-bottomright:0.5em;
	-webkit-border-bottom-right-radius:0.51em;
	font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;
}


#wrapper{
width:96%;
height:100%;
margin-left:2%;
margin-right:2%;
border-bottom: 1px solid;
border-bottom-color:#999999;
}

#headder
{
width:100%;
height:40px;
background-image:url(topgrey.jpg); background-position: top; background-repeat:repeat-x;
float:left;

}
#logotext{
width:200px;
height:15px;
padding-left:20px;
font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#000000;
text-align:left;
padding-top:15px;
float:left;
}
#toplogin{
width:420px;
height:25px;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000;
text-align:center;
padding-top:5px;

float:left;
}
#login1
{
width:105px;
height:auto;
float:left;
text-align:left;
padding-left:10px;

}

#leftarea11{
width:80%;
height:auto;
float:left;
}

#rightareanew{
width:17%;
height:auto;
float:right;
}

#rightarea11{
width:100%;
height:auto;
float:right;
background-color:#c1d8ea;
padding:10px;


border-top-right-radius:0.5em;
-moz-border-radius-topright:0.5em;
-webkit-border-top-right-radius:0.5em;

border-top-left-radius:0.5em;
-moz-border-radius-topleft:0.5em;
-webkit-border-top-left-radius:0.5em;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;
}

#rightarea12{
width:100%;
height:auto;
float:right;
background-color:#dceffd;
padding:10px;

border-bottom-left-radius:0.5em;
-moz-border-radius-bottomleft:0.5em;
-webkit-border-bottom-left-radius:0.5em;
border-bottom-right-radius:0.5em;
-moz-border-radius-bottomright:0.5em;
-webkit-border-bottom-right-radius:0.51em;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;
}

#search1
{
width:150px;
height:auto;
float:right;

}

#login1 a:link{color: #80b000; text-decoration: underline;
}
#login1 a:active{color: #80b000; text-decoration: none;
}
#login1 a:visited{color: #80b000; text-decoration: none;
}
#login1 a:hover {color: #80b000; text-decoration: underline;
}
#login2
{
width:50px;
height:auto;
float:left;

}

#righttop1{
width:280px;
height:20px;
float:right;
}

#topicons{
width:270px;
height:20px;
padding-top:3px;
text-align:center;
float: right;
vertical-align:bottom;
}

#logout1{
width:140px;
height:20px;
text-align:right;
float: left;
vertical-align:bottom;
padding-right:2px;
padding-top:15px;
}
#icons{
width:40px;
height:30px;
text-align:center;
float:left;
}


#menubg
{
width:100%;
height:34px;
background-image:url(menubg.jpg); background-position: top; background-repeat:repeat-x;
float:left;
background-color:#7ea4c9;
}

#menubarleft
{
background-image:url(menubarleft1.jpg); background-position: top; background-repeat:repeat-x;
float:left;
width:12px;
height:34px;
}

#menubarright
{
background-image:url(menubarright1.jpg); background-position: top; background-repeat:repeat-x;
float:right;
width:12px;
height:34px;
}
#menudiv
{
margin-top:2px;
width:5px;
height:32px;
 background-image:url(menudiv.jpg); background-position: top; background-repeat:repeat-x;
 float:right;

}

#menu
{
width:220;
height:30px;
background-image:url(menubg.jpg); background-position: top; background-repeat:repeat-x;
font-family:Arial, Helvetica, sans-serif; font-size:13px; font-weight: bold; color:#fff;
padding-right:5px;

padding-left:5px;
float:right;

}
.menubottom
{
width:100%;
height:40px;
background-color: #dceffd;
float:left;
padding-top:15px;
-webkit-border-radius: 10px; /* Safari prototype */
-moz-border-radius: 10px; /* Gecko browsers */
border-radius: 10px; /* Everything else - limited support at the moment */
}
.dash1{
width:98%;
height: auto;
padding-left:10px;
font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight: bold; color:#000;
float:left;
}

.dashcontent{
width:100%;
height: auto;
padding-left:0px;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;
float:left;
border: 2px solid;
border-color:#77a7cd;
text-align:left;
margin-top:2px;

border-top-right-radius:0.5em;
-moz-border-radius-topright:0.5em;
-webkit-border-top-right-radius:0.5em;
border-top-left-radius:0.5em;
-moz-border-radius-topleft:0.5em;
-webkit-border-top-left-radius:0.5em;
border-bottom-left-radius:0.5em;
-moz-border-radius-bottomleft:0.5em;
-webkit-border-bottom-left-radius:0.5em;
border-bottom-right-radius:0.5em;
-moz-border-radius-bottomright:0.5em;
-webkit-border-bottom-right-radius:0.51em;
}


.dashcontent a:link{color: #5a88ba; text-decoration: underline; font-weight:bold;  
}
.dashcontent a:active{color: #5a88ba; text-decoration: none; font-weight:bold;   
}
.dashcontent a:visited{color: #5a88ba; text-decoration: none; font-weight:bold;  
}
.dashcontent a:hover {color: #5a88ba; text-decoration: underline; font-weight:bold;  
}


.content{
width:100%;
height:100%;
padding-left:0px;
padding-top:10px;
font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;
float:left;
}

.content a:link{color: #5a88ba; text-decoration: underline; font-weight:bold;  
}
.content a:active{color: #5a88ba; text-decoration: none; font-weight:bold;   
}
.content a:visited{color: #5a88ba; text-decoration: none; font-weight:bold;  
}
.content a:hover {color: #5a88ba; text-decoration: underline; font-weight:bold;  
}

.contenthead11{
width:98%;
height:100%;
padding-left:10px;
font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000; font-weight:bold;
float:left;
padding-top:10px;
}
.contentarea
{
width:98%;
background-color: #dceffd;
float:left;
padding-top:15px;
padding-left:15px;
-webkit-border-radius: 10px; /* Safari prototype */
-moz-border-radius: 10px; /* Gecko browsers */
border-radius: 10px; /* Everything else - limited support at the moment */
}


.headarea
{
width:100%;
background-color: #77a7cd;
float:left;
padding-top:5px;
padding-bottom:5px;
margin-top:2px;
border-top-left-radius:1em;
-moz-border-radius-topleft:1em;
-webkit-border-top-left-radius:1em;
border-top-right-radius:1em;
-moz-border-radius-topright:1em;
-webkit-border-top-right-radius:1em;
font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight: bold; color:#fff;

}
.contentbottom
{
width:100%;
background-color: #dceffd;
float:left;
padding-top:5px;
padding-bottom:5px;
border-bottom-left-radius:1em;
-moz-border-radius-bottomleft:1em;
-webkit-border-bottom-left-radius:1em;
border-bottom-right-radius:1em;
-moz-border-radius-bottomright:1em;
-webkit-border-bottom-right-radius:1em;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;

}


.contentbottom1
{
width:100%;
background-color: #dceffd;
float:left;
padding-top:5px;
padding-bottom:5px;
margin-top:2px;
height: auto;


border-top-right-radius:0.5em;
-moz-border-radius-topright:0.5em;
-webkit-border-top-right-radius:0.5em;

border-top-left-radius:0.5em;
-moz-border-radius-topleft:0.5em;
-webkit-border-top-left-radius:0.5em;

border-bottom-left-radius:0.5em;
-moz-border-radius-bottomleft:0.5em;
-webkit-border-bottom-left-radius:0.5em;
border-bottom-right-radius:0.5em;
-moz-border-radius-bottomright:0.5em;
-webkit-border-bottom-right-radius:0.51em;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;

}

.textarea {
font-size: 12px;
width:154px;
background-image:url(searchbg2.gif); background-repeat:no-repeat;
height:18px;
padding:3px;
padding-left:10px;
border:0;
}

.textarea1 {
font-size: 12px;
width:154px;
background-image:url(searchbg2.png); background-repeat:no-repeat;
height:18px;
padding:3px;
padding-left:10px;
border:0;
}

.headnav
{
	text-align:right;
	font-size:12px;
	font-weight:bold;
	padding-right:5px;
	padding-left:10px;
	vertical-align:middle;
	color: #e43e17;
}


#headding2{
width:450px; height:20px; float:left; padding-top:0px; padding-left:10px; text-align:left; font-size:16px; font-weight:bold; color:#000000; margin-bottom:3px;
}

#headding1{
width:500px;
height:35px; float:left; padding-top:0px; padding-left:10px; text-align:left; font-size:16px; font-weight:bold; color:#000000; margin-bottom:3px;
}

#headding1links{
width:430px; height:20px; float:left; padding-top:0px; padding-left:10px; text-align:left; font-size:12px; font-weight:bold; color:#000000; margin-top:5px;
}
#botton{
width:40px;
height:30px;
text-align:center;
float:left;
}

#headnavbottom{
width:100%; height:20px; float:right; padding-top:5px; text-align:right; font-size:12px; font-weight:bold;
}

#headnavbottom a:link{color: #e43e17; text-decoration: underline;
}
#headnavbottom a:active{color: #e43e17; text-decoration: none;
}
#headnavbottom a:visited{color: #e43e17; text-decoration: none;
}
#headnavbottom a:hover {color: #e43e17; text-decoration: underline;
}





#fixedtipdiv{
position:absolute;
padding: 2px;
border:1px solid black;
font:normal 12px Verdana;
line-height:18px;
z-index:100;
}

.dropdown1
{

z-index:1000; position:absolute; visibility: hidden; width: 340px; padding: 0px; 
border-top-right-radius:1em;
-moz-border-radius-topright:1em;
-webkit-border-top-right-radius:1em;
border-top-left-radius:1em;
-moz-border-radius-topleft:1em;
-webkit-border-top-left-radius:1em;
border-bottom-left-radius:1em;
-moz-border-radius-bottomleft:1em;
-webkit-border-bottom-left-radius:1em;
border-bottom-right-radius:1em;
-moz-border-radius-bottomright:1em;
-webkit-border-bottom-right-radius:1em;
border: 2px solid;
border-color:#1569a6;
background-color:#eaf6ff;
padding:10px;

}

.dropdown1 a:link{color: #1569a6; text-decoration: none;
}
.dropdown1 a:active{color: #000; text-decoration: none;
}
.dropdown1 a:visited{color: #1569a6; text-decoration: none;
}
.dropdown1 a:hover {color: #000; text-decoration: none;
}

.workflowheading
{
	vertical-align:middle;
	font-size:14px;
	font-weight:bold;
	padding-right:4px;
	padding-left:4px;
	color:#000000;
}
.nextprevioubox
{
	white-space:nowrap;
	min-width:160px;
	cursor: pointer;
	background-color: #CCDDF5;
	vertical-align:middle;
	padding-top:2px;
	padding-left:4px;
	margin-top:2px;
	height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	vertical-align:middle;
}
#prevnext
{
white-space:nowrap;
min-width:160px;
cursor: pointer;
/*background-color: #dceffd;*/
background-color: #CCDDF5;
vertical-align:middle;
float:left;
padding-top:2px;
padding-right:3px;
/*border:1px solid #91b0cf;*/
margin-top:2px;
height:30px;

border-top-right-radius:0.5em;
-moz-border-radius-topright:0.5em;
-webkit-border-top-right-radius:0.5em;

border-top-left-radius:0.5em;
-moz-border-radius-topleft:0.5em;
-webkit-border-top-left-radius:0.5em;

border-bottom-left-radius:0.5em;
-moz-border-radius-bottomleft:0.5em;
-webkit-border-bottom-left-radius:0.5em;
border-bottom-right-radius:0.5em;
-moz-border-radius-bottomright:0.5em;
-webkit-border-bottom-right-radius:0.51em;
font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000;

}

steparrow
{
width:40px;
height:30px;
float:left;
margin-left:2px;
cursor: pointer;

/*background-color: #dceffd;
vertical-align:middle;
float:left;
padding-top:2px;
padding-right:3px;
border:1px solid #91b0cf;
margin-top:2px;
*/
}

steptext
{
/*
border:2px #000000 solid;
*/
vertical-align:bottom; 
height:30px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;

cursor: pointer;
/*
padding-top:2px;
padding-right:3px;
border:1px solid #91b0cf;
margin-top:2px;
*/
}